# Copy this file to .env.development for local work.
APP_ENV="development"
DATABASE_URL_DEVELOPMENT="postgresql://username:password@localhost:5432/reebs_local"
# DATABASE_URL_PRODUCTION="postgresql://username:password@host:5432/reebs_production"
DATABASE_SSL_MODE="disable"
ENFORCE_DATABASE_ISOLATION="true"

VITE_GOOGLE_MAPS_KEY=""
VITE_GA_ID=""
VITE_CURRENCY_API_KEY=""
VITE_EXCHANGE_API_KEY=""
VITE_BACKEND_BASE_URL="http://localhost:8888"

GOOGLE_MAPS_API_KEY=""
OPENAI_API_KEY=""
MANAGER_PIN_HASH="scrypt$..."
MANAGER_APP_SECRET="change-me"
USER_APP_SECRET="change-me"

WHATSAPP_ACCESS_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_MANAGER_PHONE=""

EMAIL_NOTIFICATIONS_ENABLED="true"
BREVO_API_KEY=""
EMAIL_FROM="REEBS Party Themes <info@reebspartythemes.com>"
EMAIL_REPLY_TO="info@reebspartythemes.com"
EMAIL_CATCHALL_TO="info@reebspartythemes.com"
EMAIL_PAYMENT_MOMO_ACCOUNT_NAME="REEBS Party Themes"
EMAIL_PAYMENT_MOMO_MTN_NUMBER=""
EMAIL_PAYMENT_MOMO_TELECEL_NUMBER=""
EMAIL_PAYMENT_MOMO_AIRTELTIGO_NUMBER=""
EMAIL_PAYMENT_MOMO_GMONEY_NUMBER=""
EMAIL_PAYMENT_MOMO_DETAILS=""
EMAIL_PAYMENT_BANK_DETAILS=""
EMAIL_FORCE_TO=""
