@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Delius&family=Henny+Penny&family=Rubik+Doodle+Shadow&family=Stalemate&family=Sue+Ellen+Francisco&family=Syncopate:wght@400;700&family=Vibes&family=Zeyada&family=Moirai+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark: #3a264a;
    --light: #854e6b;
    --border: #3e4577;
    --other: #f9f546;
    --black: #242424;
    --back: #f1620b;
    --back2: #0e8660;
    --back3: #ec490f;
    
    font-family: "Montserrat", sans-serif;
    text-transform: none;
}

/*********************************************************************************************************************/
/**************************************            FONT STYLES               *****************************************/
/*********************************************************************************************************************/
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.moirai-one-regular {
  font-family: "Moirai One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.buda-light {
  font-family: "Buda", serif;
  font-weight: 300;
  font-style: normal;
}

.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sue-ellen-francisco-regular {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
}

.zeyada-regular {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}

.stalemate-regular {
  font-family: "Stalemate", cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.vibes-regular {
  font-family: "Vibes", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*********************************************************************************************************************/
/**************************************            BODY STYLES               *****************************************/
/*********************************************************************************************************************/

html, body {
  overflow-x: hidden;  
  overflow-y: auto;
  width: 100vw;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

hr{
  color: var(--black);
  opacity: 0.1;
  width: 80%;
}

h2{
  font-size: 2em;
}

h3{
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5em;
}

.back{
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

#r1-intro{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/imgs/background10.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.back-heading{
  z-index: 70;
  
}

#r1-intro .back-heading h1{
  font-family: "Rubik Doodle Shadow", system-ui;
}

.back-heading h1{
  font-size: 4.5em;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--black);
  margin-top: 2em;
}

.intro-back-heading {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 1.2em;
  margin-top: 0em;
  color:var(--border);
  z-index: 70;
}

.info-back-heading{
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 2em;
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  text-decoration: underline;
  z-index: 70;
  color: var(--black);
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dark-info-back-heading{
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  text-decoration: underline;
  z-index: 70;
  color: white;
}

.back-heading h3{
  font-family: "Zeyada", cursive;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-top: 2em;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.r1-back-buttons{
  display: flex;
  justify-content: space-evenly;
  gap: 10em;
}

.r1-back-buttons button{
  background-color: var(--back);
  padding: .3em 3em;
  border-radius: 15px;
  border: 2px var(--back3) solid;
  color: white;
  font-size: 1.2em;
  font-family: "Vibes", system-ui;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.r1-back-buttons button:hover{
  background-color: transparent;
  color: var(--black);
  transition: 0.3s;
}


@media screen and (max-width: 599px) {
  #r1-intro{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url("/imgs/background10-a.gif");
  }

  .back-heading h1{
    font-size: 3em;
    font-weight: bolder;
    font-family: "Rubik Doodle Shadow", system-ui;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--black);
    margin-top: 1em;
  }

  .intro-back-heading {
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 1em;
    margin-top: 0em;
    color:var(--dark);
    z-index: 70;
  }

  .info-back-heading{
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    text-decoration: underline;
    z-index: 70;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .dark-info-back-heading{
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    text-decoration: underline;
    z-index: 70;
    color: white;
  }

  .back-heading h3{
    font-family: "Zeyada", cursive;
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-top: 2em;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .r1-back-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
  }

  .r1-back-buttons button{
    background-color: var(--black);
    padding: .3em 3em;
    border-radius: 15px;
    border: 2px var(--black) solid;
    color: white;
    font-size: 1em;
    font-family: "Vibes", system-ui;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    cursor: pointer;
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

#r1-info-dark-bg{
  background-color: var(--back);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: fit-content;
  padding: 4em 0;
}

#r1-info {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: none;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: fit-content;
  padding: 1em;
}

#r1-social,
#r1-services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: none;
  width: 100vw;
  height: fit-content;
  padding: 1em;
  margin-top: 4em;
}

.r1-col-why{
  margin-top: 1em;
  display: flex;
  gap: 5em;
  padding: 4em 5em;
}
.col-reason {
  width: 30%;
  float: left;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-reason-icon{
  z-index: 70;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50%;
}

.col-reason-icon:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

.col-reason h3 {
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
}

.name-mid{
  color: var(--black);
  z-index: 70;
}

@media screen and (max-width: 599px) {

  #r1-info,
  #r1-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: none;
    width: 100vw;
    height: fit-content;
    padding: 0em;
    margin-top: 4em;
  }
  .r1-col-why{
    width: 80%;
    display: table;
    align-items: center;
    padding: 1em;
    justify-self: center;
  }

  .col-reason {
    float: left;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .col-reason-icon{
    z-index: 70;
    width: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50%;
  }

  .col-reason-icon:hover {
    transform: scale(1.05);
    transition: 0.8s;
  }

  .col-reason h3 {
    font-size: .8em;
    font-weight: 900;
  }

  .name-mid{
    z-index: 70;
  }
}

#r1-services .r1-back-card{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 4em; 
  padding: 5em;
  z-index: 65;
}

.service {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: table;
  overflow: hidden;
}

.desc{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.serv{
  background-color: white;
  display: block;
  border: 2px var(--black) solid;
  border-radius: 15px;
  padding: 1em;
  width: fit-content;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.serv:hover {
  transform: scale(1.05);
  transition: 0.8s;
  cursor: pointer;
  text-decoration: underline;
}

.desc p{
  font-weight: 900;
  font-family: "Montserrat Alternates", sans-serif;
}

.desc p:hover{
  transition: 0.5s;
}

.serv-icon{
  position: relative;
  width: 320px;
  border: 2px solid var(--black);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.service .desc {
  display: table-cell;
  vertical-align: middle;
  height: 120px;
  opacity: 1;  
}

.listed p{
  font-size: .8em;
  padding-top: 0;
}

.r1-back-card a{
  color: var(--black);
  font-weight: 900;
  letter-spacing: 1px;
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  #r1-info .r1-back-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 1em; 
    padding: 4em;
    z-index: 65;
  }

  .service {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: table;
    overflow: hidden;
  }

  .desc{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 900;
  }

  .serv{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px var(--black) solid;
    border-radius: 15px;
    padding: 1em;
    width: 200px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .serv:hover {
    transform: scale(1.05);
    transition: 0.8s;
    cursor: pointer;
    text-decoration: underline;
  }

  .desc p{
    font-weight: 900;
  }

  .desc p:hover{
    transition: 0.5s;
  }

  .serv-icon{
    position: relative;
    width: 200px;
    border: 2px solid var(--black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .service .desc {
    display: table-cell;
    vertical-align: middle;
    opacity: 1;  
  }

  .listed p{
    font-family: "Delius", cursive;
    font-size: .8em;
    width: 100%;
    padding-top: 0em;
    margin: 0em;
  }

  .r1-back-card a{
    color: var(--black);
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
    width: fit-content;
  }
}

#r1-cta, 
#r2-cta,
#r3-cta,
#r4-cta,
#r5-cta,
#r6-cta{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: fit-content;
  padding: 5em 0;
  color: white;
}

.cta1{
  background-image: url("/imgs/background35.svg");
}

.cta2{
  background-image: url("/imgs/30.png");
}

.cta-heading{
  text-align: center;
  font-family: "Sue Ellen Francisco", cursive;
}

.cta-heading h1{
  font-size: 2.5em;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cta-heading h2{
  font-size: 2em;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cta-buttons{
   display: flex;
   gap: 2.5em;
}

.btn{
  font-size: 1.5em;
  color: white;
  background-color: var(--black);
  padding: .8em;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

@media screen and (max-width: 599px){

  #r1-cta, 
  #r2-cta,
  #r3-cta,
  #r4-cta,
  #r5-cta,
  #r6-cta{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
    padding: 5em 0;
    color: white;
  }
  .cta-heading{
    text-align: center;
    font-family: "Sue Ellen Francisco", cursive;
  }

  .cta-heading h1{
    font-size: 2em;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .cta-heading h2{
    font-size: 1.5em;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .cta-buttons{
    display: flex;
    gap: 2em;
  }

  .btn{
    font-size: 1em;
    color: white;
    background-color: var(--black);
    padding: .8em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .scroll-up {
  position: absolute;
  bottom: -5rem;
  right: 0;
  transform: translateX(-50%);
  font-size: 1rem;
  color: var(--back3);
  animation: bounce 2s infinite;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

}

.btn:hover {
  transform: scale(1.05);
  transition: 0.8s;
  cursor: pointer;
  color: var(--black);
  background-color: white;
}

.scroll-down {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: var(--back3);
  animation: bounce 2s infinite;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.scroll-up {
  position: absolute;
  bottom: 1rem;
  right:2rem;
  transform: translateX(-50%);
  font-size: 2rem;
  color: var(--back3);
  animation: bounce 2s infinite;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

@keyframes bounce {
  0%, 100% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(8px); }
}

#r2-intro,
#r2-story,
#r2-mto{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5em;
}

#r2-intro{
  gap: 4em;
  height: 100vh;
}
#r2-intro .r2-back-image img{
  margin: 0 5em;
}

#r2-intro h1{
 margin-top: 0em;
}
.r2-back-image img{
  width: 500px;
  height: 550px;
  z-index: 70;
  position: relative;
}

@media screen and (max-width: 599px){
  #r2-intro,
  #r2-story,
  #r2-mto{
    padding: 2em 1em;
    flex-direction: column;
  }

  #r2-intro{
    margin-top:6em;
    gap: 1em;
    height: fit-content;
    flex-direction: column-reverse;
  }

  #r2-intro .r2-back-image img{
    margin: 0 5em;
  }

  #r2-intro h1{
  margin-top: 0em;
  color: var(--black);
  }

  .r2-back-image img{
    width:200px;
    height: 250px;
    z-index: 70;
    position: relative;
    box-shadow: none;
    border-radius:none;
  }
}

#r2-mto{
  margin: 2em 8em;
}

#r2-mto .r2-back-image img{
  height: fit-content;
  width: fit-content;
  border-radius: 0px;
  box-shadow: none;
}

#r2-story{
  flex-direction: column;
}

#r2-story .back-heading h2{
  font-family: "Montserrat Alternates", sans-serif;
}

#r2-story p{
  width: 600px;
  height: fit-content;
  margin-bottom: 5em;
}

#r2-mto{
  gap: 5em;
}

.r2-mto-back-heading{
  display: flex;
  flex-direction: column;
}

.r2-mto-back-heading h2{
  font-family: "Montserrat Alternates", sans-serif;
}
@media screen and (max-width: 599px){

  #r2-mto .r2-back-image img{
    height: 250px;
    width: 200px;
    border-radius: 0px;
    box-shadow: none;
  }

  #r2-story{
    flex-direction: column;
  }

  #r2-story p,
  #r2-mto p{
    width:300px;
    height: fit-content;
    margin-bottom: 5em;
  }

  #r2-mto{
    gap: 5em;
  }
}

#r3-intro{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/imgs/41.png");
  background-attachment: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}

@media screen and (max-width: 599px){
  #r3-intro h1{
    color: var(--black);
  }

  #r3-intro p{
    width: 300px;
  }

  #r3-shop-grid{
    height: fit-content;
    width: 100vw;
    padding: 1em 0;
    z-index: 70;
  }
}

#r3-shop-grid{
  height: fit-content;
  width: 100%;
  padding: 1em 0;
  z-index: 70;
}

.shop-container h2{
  margin: 3em 0;
}

.breadcrumb {
  margin: 1rem 1.5em;
  font-size: 0.9rem;
  color: #666;
  text-align: left;
  z-index: 70;
}

.breadcrumb a,
.breadcrumb-link {
  color:var(--back3);
  text-decoration: none;
  cursor: pointer;
}

.breadcrumb a:hover,
.breadcrumb-link:hover {
  text-decoration: underline;
  color: var(--black);
}

.shop-controls {
  display: flex;
  gap: 1rem;
  padding: 1em;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  z-index: 70;
}

.currency-selector {
  margin-left: 10px;
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 0.9rem;
}

.search-bar {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  flex: 1;
  width: 100%;
  z-index: 70;
}

.category-filter {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  z-index: 70;
}

.no-results {
  margin-top: 2rem;
  font-style: italic;
  color: #777;
}

.shop-container {
  padding: 1rem;
  text-align: center;
  z-index: 70;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap:3rem;
  padding: 4em;
  z-index: 70;
}

.shop-card {
  z-index: 70;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: fit-content;
  display: flex;
  height: 250px;
  border-radius: 15px;
}

.shop-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 300px;
  padding: 0 2em;
}
.shop-details h3{
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight:600;
  margin: 0em;
}

.shop-details h4{
  letter-spacing: 1px;
  font-size: 0.7em;
  color: #929292;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.shop-image img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}

.description{
  font-size: 0.8em;
}

.age_range{
  font-family: "Zeyada", cursive;
}

.price {
  font-weight: 900;
  margin: 0.5rem 0;
}
.add-to-cart {
  background: none;
  color: var(--black);
  border: none;
  padding: 1em 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: #000000de;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: zoom-out;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.add-to-cart-mob{
  display: none;
}

@media screen and (max-width: 599px){
  .shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:4rem;
    padding: 2em;
    z-index: 70;
    justify-content: center;
    align-items: center;
  }

  .shop-card {
    display: flex;
    z-index: 70;
    background-color: white;
    padding-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: 280px;
    height: 155px;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .shop-card h3{
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 900;
    margin: 0em;
  }

  .shop-card h4{
    font-style: italic;
    font-size: 0.7em;
    color: #929292;
    margin: 0em;
  }

  .shop-image img{
    width: 150px;
    height: fit-content;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
  }

  .shop-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 120px;
    padding: 0.5em;
  }

.shop-details h3{
  font-family: "Montserrat", sans-serif;
  font-size: .8em;
  font-weight:600;
  margin: 0em;
}

.shop-details h4{
  letter-spacing: 1px;
  font-size: 0.6em;
  color: #929292;
  margin-bottom: .5em;
}

  .price {
    font-weight: 900;
    margin: 0.5rem 0;
    font-size: .5em;
  }

  .add-to-cart{
    display: none;
  }
  .add-to-cart-mob {
    display: block;
    background: none;
    color: var(--black);
    border: none;
    padding: 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
  }
}

.add-to-cart:hover {
  color: var(--back2);
  transition: 0.5s;
  background: none;
  transform: scale(1.05);
}

#r4-intro{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-image: none;
  gap: 1em;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 2em;
  z-index: 0;
}

#r4-intro h1{
  margin-top: 1em;
}

.r4-back-image img{
  width: 350px;
  height: fit-content;
  z-index: 70;
}

.side-menu {
  border-right: 3px solid #e0e0e0;
  padding-right: 12px;
  margin-right: 24px;
  height: fit-content;
  overflow-x: hidden;
  right: 10px;
}

.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-menu li {
  margin: 16px 0;
  position: relative;
  padding-right: 10px;
}

.side-menu li a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  transition: color 0.3s;
}

.side-menu li a:hover,
.side-menu li.active a {
  font-weight: bold;
  color: var(--back3); /* highlight text */
}

.side-menu li.active::after {
  content: "";
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 6px;
  background: var(--back3); /* highlight line */
  border-radius: 2px;
}

@media screen and (max-width: 599px) {
  #r4-intro{
    flex-direction: column;
    padding:4em 0;
  }

  #r4-intro h1{
    color: var(--black);
    font-family: "Montserrat Alternates", sans-serif;
  }

  .r4-back-image img{
    width: 200px;
    height: 270px;
  }

  .side-menu {
    overflow-y: visible;
  }

  .side-menu li a {
    text-decoration: none;
    color: #555;
    font-size: 12px;
    transition: color 0.3s;
  }

  #r4-rent-grid{
  padding: 0 5em;
  }

  .rent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2em;
    z-index: 70;
  }

  .rent-card {
    z-index: 70;
    background-color: #f0efef;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: fit-content;
    display: flex;
    height: 100px;
    border-radius: 15px;
  }

  .rent-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
  }

  .rent-details h3{
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 900;
    margin: 0em;
  }

  .rent-details h4{
    font-style: italic;
    font-size: 0.7em;
    color: #929292;
    margin: 0em;
  }

  .rent-image img{
    margin-top: -5.6em;
    width: 120px;
    height: fit-content;
    object-fit: cover;
    background-color: none;
  }

}

#r4-rent-grid{
  padding: 0 5em;
}

.rent-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap:8rem;
  padding: 5em;
  z-index: 70;
}

.rent-card:hover {
  transform: scale(1.05);
  transition: 0.8s;
  cursor: pointer;
}

.rent-card {
  z-index: 70;
  background-color: #f0efef;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: fit-content;
  display: flex;
  height: 200px;
  border-radius: 15px;
}

.rent-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
}

.rent-details h3{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight:700;
  margin: .5em 0;
}

.rent-details h4{
  font-style: italic;
  font-size: 0.7em;
  color: #929292;
  margin: 0em;
}

.rent-image img{
  margin-top: -5.6em;
  width: 290px;
  height: fit-content;
  object-fit: cover;
  background-color: none;
}


@media screen and (max-width: 599px) {
  #r4-rent-grid {
  padding: 0 2em;
  }

  #r4-rent-grid h2{
    font-size: 1.2em;
  }
  .rent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    padding: 2em 0;
    z-index: 70;
  }

  .rent-card {
    z-index: 70;
    background-color: #f0efef;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: fit-content;
    display: flex;
    height: 75px;
    border-radius: 15px;
    padding: 1em 0;
  }

  .rent-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 170px;
    margin-left: 1em;
  }

  .rent-details h3{
    font-size: 0.8em;
  }

  .rent-details h4{
    font-size: 0.6em;
  }

  .rent-image img{
    margin-top: -3.6em;
    width: 150px;
    height: fit-content;
    object-fit: cover;
    background-color: none;
  }

  .rent-details a{
    font-size: 0.8em;
    color: var(--back);
  }

}

#r5-intro{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh;
  padding: 2em;
}

#r5-intro .back-heading h1,
#r5-intro .back-heading p{
  color: var(--black);
  z-index: 70;
}

#r5-gallery{
  padding: 1em 4em;
  z-index: 70;
  height: fit-content;
}

.gallery-container {
  padding: 40px;
  text-align: center;
  z-index: 70;
}

.gallery-grid {
  display: grid;
  gap: 1.5rem;
  z-index: 70;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 70;
}

.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
}

.gallery-caption {
  padding: .5em;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox-content {
  background: white;
  padding: 1rem;
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
  text-align: center;
}

.lightbox-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.lightbox-content button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#r5-cta{
  background-image: url("/imgs/22.png");
}
#r6-intro{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: none;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  padding: 2em;
}

#r6-intro .back-heading{
  margin-top: 1em;
}

#r6-intro .back-heading h1{
  margin-top: 0em;
}

#r6-intro .back-heading p{
  width: 400px;
  box-shadow: none;
}

#r6-intro .back-heading h1,
#r6-intro .back-heading p{
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 599px){
  #r6-intro{
    flex-direction: column;
    position: relative;
  }

  #r6-intro .back-heading{
  
    margin-top: 1em;
  }

  #r6-intro .back-heading h1{
    margin-top: 0em;
  }

  #r6-intro .back-heading p{
    width: 300px;
    box-shadow: none;
  }

  #r6-intro .back-heading h1,
  #r6-intro .back-heading p{
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
  }
} 

#r6-map {
  padding: 8em 0 0;

}
.r6-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.r6-contact{
  width: 50%;
}

.r6-contact a,
.r6-contact p{
  color: var(--black);
  font-size: 1em;
  text-decoration: none;
}
.r6-details a{
  text-decoration: underline;
}

.r6-details a:hover{
  transition: 0.4s;
  color: var(--back3);
  text-decoration: underline;
}
.r6-social-icons{
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-top: 2em;
}

.r6-social-icons svg{
  font-size: 30px;
}

.r6-social-icons svg:hover{
  transition: 0.4s;
  color: var(--back3);
  transform: scale(1.3);
}

#r6-form{
  display: flex;
  position: relative;
  float: right;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 50%;
  height: fit-content;
}

.contact-form{
  padding: 2em 1em;
  width: 500px;
  margin: 2em auto;
  color: var(--black);
  z-index: 70;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10em;
    font-weight: 900;
    color: var(--dark);

}

input, textarea {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.95rem;
    transition: border-color 0.3s;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: #4a90e2;
    outline: none;
}

textarea {
    resize: vertical;
}

button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

button:hover {
    background: #357ab8;
}
@media screen and (max-width: 599px){
  #r6-form{
    display: flex;
    position: relative;
    float: right;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: fit-content;
  }

  .r6-contact{
    width: 100%;
  }
}
.hidden {
    display: none;
}
/*****************************************************************
********************** Instagram *********************************
*****************************************************************/

.instagram-feed {
  padding: 2rem;
  z-index: 70;
  height: fit-content;
}

.feed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5rem;
  margin-top: 4em;
}

.post-card {
  background: white;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  text-align: center;
  z-index: 70;
  font-family: Arial, Helvetica, sans-serif;
}

.post-card video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  border: 4px solid var(--black);
}

.post-card p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

.social{
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
  border-radius: 15px;
  padding: 2em;
}

.social-icons img{
  width: 40px;
}


/*****************************************************************
********************** Cookie Info *******************************
*****************************************************************/
.cookie-banner {
  all: unset;
  background-color: #d5d6d6;
  color: white;
  font-size: 14px;
  padding: 16px;
  padding-right: 2em;
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Delius", cursive;
}

.cookie-content {
  flex: 1 1 auto;
  margin-right: 1rem;
}

.cookie-link {
  color: #FBBF24;
  text-decoration: underline;
}

.cookie-accept,
.cookie-decline {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  margin-left: 0.5rem;
  cursor: pointer;
}

.cookie-accept {
  background-color: #FBBF24;
  color: #000;
}

.cookie-decline {
  background-color: #e5e7eb;
  color: #000;
}

#p1-intro{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/imgs/34.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  padding: 2em;
  color: white;
}

#p1-intro p{
  font-family: "Buda", serif;
  padding: 0 10em;
  font-weight: 900;
}
#p1-info{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: white;
  padding-top: 1.5em;
  padding-bottom: 3em;
  font-family: "Buda", serif;
}

.privacy-policy h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.privacy-policy h2 {
  margin-top: 25px;
  font-size: 1.5rem;
  color: #2b2b2b;
}

.privacy-policy ul {
  list-style-type: disc;
  margin-left: 20px;
}

